# This is Git's per-user configuration file.
[user]
	name = r-plus
	email = anasthasia.r@gmail.com
	signingkey = 9FB5D5CC
[core]
	editor = vim
[push]
	default = simple
[alias]
	co = checkout
	b = branch
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[diff]
	compactionHeuristic = true
[pager]
	diff = diff-highlight | less
	show = diff-highlight | less
	log = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
